aadict==0.2.3
asset==0.6.12
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
cloudpickle==0.3.1
docutils==0.14
doit==0.30.3
ghp-import2==1.0.1
globre==0.1.5
idna==2.5
Jinja2==2.9.6
lessc==0.1.2
Logbook==1.1.0
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.0
natsort==5.0.3
Nikola==7.8.9
olefile==0.44
piexif==1.0.12
Pillow==4.2.1
Pygments==2.2.0
pyinotify==0.9.6
PyRSS2Gen==1.1
python-dateutil==2.6.1
requests==2.18.3
six==1.10.0
Unidecode==0.4.21
urllib3==1.22
webassets==0.12.1
Yapsy==1.11.223
